.tarjetas {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template: 300px 250px 200px 150px / 30% 40% 30%;
    justify-content: space-around; 
    flex-wrap: wrap;
    /*justify-content: center;*/
}